.l-constrained {
  @include outer-container;
  padding-right: $page-gutter;
  padding-left: $page-gutter;
}

.l-section {
  @include row;
  margin-bottom: 1em;
}

.l-list {
  margin-top: 0.875em;

  li { font-size: 1.125em; }
}

@mixin ipad-layout {

  .l-contact-item {
    @include span-columns(4);
  }

  // .l-list {
  //   @include span-columns(6);
  //   @include omega(2n);
  // }

} // @mixin ipad-layout

@mixin desktop-layout {

  .l-titling {
    @include span-columns(3);
  }

  .l-content {
    @include span-columns(9);
    @include omega;
  }

  .l-contact {
    @include row;
    margin-top: 2em;
  }

  .l-contact-item {
    @include span-columns(3 of 9);
  }

  .l-meta {
    @include row;
  }

  .l-position {
    @include span-columns(6 of 9);
  }

  .l-timeframe{
    @include span-columns(3 of 9);
    @include omega;
  }

} // @mixin layout

@include media($breakpoint-ipad) {
  @include ipad-layout;
}

@include media($breakpoint-desktop) {
  @include desktop-layout;
}

.old-ie {
  @include ipad-layout;
  @include desktop-layout;
} // .old-ie
