// Typefaces
$typeface-sans:  'Gotham SSm A', 'Gotham SSm B', "Helvetica Neue", Verdana, Helvetica, Arial, sans-serif;
$typeface-serif: 'Mercury SSm A', 'Mercury SSm B', Georgia, Cambria, "Times New Roman", Times, serif;
$typeface-condensed: 'Gotham Cond SSm A', 'Gotham Cond SSm B', "Helvetica Neue", Verdana, Helvetica, Arial, sans-serif;
$typeface-serifsc: 'Mercury SSm copy A', 'Mercury SSm copy B', Georgia, Cambria, "Times New Roman", Times, serif;

p, a, h1, h2, h3, h4, h5, label {
  color: inherit;
  font-family: inherit;
}

h1 {
  font-family: $typeface-condensed;
  font-size: 2em;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
}

h2 {
  font-family: $typeface-sans;
  font-size: 1.5em;
  text-transform: uppercase;
}

h3 {
  font-family: $typeface-serifsc;
  font-size: 1em;
  line-height: 1;
  text-transform: capitalize;
}

h4 {
  color: $grey;
  font-family: $typeface-serif;
  font-size: .75em;
  font-weight: 400;
}

h5 {}

h6 {}

p {
  line-height: 1.5;
}

hr {}
