#header {

  padding: 2em 0;

  h1 {
    font-family: $typeface-sans;
    font-size: 2.5em;
    font-weight: 700;
  }

  h2 {
    font-size: 0.5em;
  }

  .header--contact {
    margin-top: 0.625em;
  }

}
